



body{background-color: rgb(76, 48, 229);
color:white;}

.nav-bar{
    display:flex;
    flex-direction: row;
   margin-bottom: 100px;
   
   /* **/flex-grow:1;**/ 
}

a{color:white;}
button{ border:none;
background-color:rgb(76,48,229);
color:white; 
}

.buttons1 {display:flex;
align-items: stretch;
margin-left:1500px;
flex-grow:1 ;



}



.free{background-color:orange;
border-radius: 30px;
border:orange;
text-align:center;
color:white;
font-size:20px;
text-wrap:wrap;
opacity: 1;
padding: 15px 40px;
display:flex;
text-decoration: none;}

h3{margin-top: 0px;
font-size:35px;}
p{margin-bottom:0px;
font-size: 30px;}


.first-topic{
   display:flex;
   justify-content:flex-start;
   
   flex-direction: row;
margin:10px 0 0 10px;

padding:0px;

}

.clout{display:flex;
flex-direction:column;
color:rgb(142, 54, 197);
font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif}

.row{display:flex;}

 .column{flex:50%;
padding:10px; 
}

#middle{font-size:35px;
padding:80px;
text-align:center;
}

/* .column[p]{
   font-size:30px;
} */